Hi <%= @tennant.first_name + @tennant.last_name %></h1>
      
Please find your invoice for <%= @month %> attached.

If you have any queries please feel free to give us a call.

Many thanks,

<%= @owner %>
Tel: <%= @telephone %>


