// Place all the styles related to the tennants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.tennants {
	border: 1px solid #E8E8E8;
	width: 100%;
	color: #888;
	font-family: "AvenirLTStd-Roman", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
	font-style: italic;
}

.rent_paid {
	width: 10%;
}